.pantalla{
    width: 350px;
    height: 100px;
    background-color: rgb(34, 33, 33);
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.input{
    font-size: 30px;
    color: white;
    padding: 16px;
}